@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --header-height: 70px;
  --color-grey: #757575;
  --color-theme: #043a84;
  --color-lite: #b2ebf2;
  --color-primary: #043a84;
  --color-secondary: #68aaff;
  --color-dark: var(--color-primary);
  --color-footer: transparent;
  --color-bg: #f7f7f7;
  --header-bg: #fff;
  --header-shadow: 0px 1px 3px 0px #0000001c;
  --read-more-icon: url(../images/34657.png);
}

input, textarea {
  padding: 10px 8px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 600;
}

input[type="submit"] {
  padding: 10px 8px;
  width: 100%;
  border-radius: 4px;
  background-color: #464646;
  color: #eee;
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;
  font-family: inherit;
  font-weight: 600;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg);
  font-family: "Montserrat", sans-serif;
  // line-height: 25px;
}
p{
  // line-height: 25px;
  
}

.hc {
  margin-left: auto;
  margin-right: auto;
}
.cc {
  display: table;
  height: 100%;
}
.ccw {
  display: table-cell;
  vertical-align: middle;
}

.section-dark {
  background-color: black;
}

.section-ldark {
  background-color: var(--color-dark);
}

.section-tcbg {
  background-color: var(--color-secondary);
}

.section-container {
  max-width: 1300px;
  margin: auto;
  padding: 10px 2%;
}

/* uppercase */
.uc {
  text-transform: uppercase;
}

/* text center */
.tc {
  text-align: center;
}

/* theme text color */
.ttc {
  color: var(--color-theme);
  font-weight: 600;
}

/* font-weight bold */
.fb {
  font-weight: bold;
}

/* font-weight medium */
.fm {
  font-weight: 500;
}

/* lite text color */
.ltc {
  color: var(--color-grey);
}
/* lite text color */
.tcw {
  color: #fff;
}

/* position replative */
.pr {
  position: relative;
}

/* display hide */
.dh {
  display: none;
}

.hf {
  height: 100vh;
}
.mhf {
  min-height: 100vh;
}
.w100 {
 width: 100%;
}
.tal {
 text-align: justify;
}

/* Form input */
.form-input {
  width: 100%;
  padding: 8px 6px;
  border: 1px solid #eee;
  outline: none;
}

.menu {
  padding-top: 70px;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
  min-height: 100vh;
  // height: 0vh;
  position: fixed;
  top: 0px;
  transform: translateY(50%);
  left: 0px;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}
body.menu-open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  z-index: 998;
}
.menu-container {
  width: 100%;
  padding: 20px 0px 0px 0px;
  background-color: #fff;
}
.menu-nav-items-wpr {
  display: block;
  font-size: 0px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
  padding: 30px 10px;
}
.menu-nav-items:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 40px;
  z-index: 9999;
  right: -0px;
  top: 20px;
  background-image: linear-gradient(45deg, #ffffffcc, #ffffff 60%);
}

.menu-nav-items {
  position: relative;
  box-shadow: 0px 3px 4px -2px #0006;
}

.menu-nav-item {
  font-size: 18px;
  display: inline-block;
  color: #000;
}
.menu-nav-item a {
  font-size: 18px;
  color: #000;
  padding: 8px 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu-nav-items-wpr .menu-nav-item:first-child a {
  border-left: none;
}
.menu-nav-item a {
  border-left: 3px solid var(--color-theme);
}

.menu-cards-items {
  display: block;
  width: 100%;
  /* padding-top: 30px; */
  height: calc(100vh - 170px);
  overflow: auto;
}
.menu-cards-items-wpr {
  display: block;
  font-size: 0px;
  width: 100%;
}
.menu-cards-item {
  display: inline-block;
  font-size: 16px;
  width: 33.33%;
  cursor: pointer;
  color: #fff;
  vertical-align: top;
}
.menu-cards-item-wpr {
  width: 100%;
  height: 100%;
  padding: 8%;
  min-height: 300px;
  height: calc(100vh / 2 - 80px);
}

.menu-cards-item-title h2 {
  font-weight: 600;
  margin-bottom: 5px;
}

.menu-cards-item-content {
  opacity: 0;
  transition: all 0.1s;
  visibility: hidden;
  pointer-events: none;
}

.menu-cards-item-content ul {
}
.menu-cards-item-content ul li {
  list-style: none;
  padding: 2px 0px;
}
.menu-cards-item-content ul li a {
  color: inherit;
  text-decoration: none;
}

.menu-cards-item:nth-child(1) {
  background-color: #01b1ae;
}
.menu-cards-item:nth-child(2) {
  background-color: #bb66a1;
}
.menu-cards-item:nth-child(3) {
  background-color: #50a4be;
}
.menu-cards-item:nth-child(4) {
  background-color: #3f8ddf;
}
.menu-cards-item:nth-child(5) {
  background-color: #74ab50;
}
.menu-cards-item:nth-child(6) {
  background-color: #eb6951;
}

.menu-cards-item:hover {
  background-color: #fff;
  color: #000;
}
.menu-cards-item:hover .menu-cards-item-content {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  transition: all 1s;
  height: var(--header-height);
  background-color: var(--header-bg);
  box-shadow: var(--header-shadow)
}
.hbw .header {
  /* background-color: rgba(255, 255, 255, 0.50); */
}

.header-wrapper {
  padding: 15px 30px;
  width: 100%;
  position: relative;
  display: table;
}
.header-logo {
  width: 100%;
  font-size: 0px;
  vertical-align: top !important;
}

.header-logo img {
  height: 40px;
}
.hbw .header-logo img {
  filter: brightness(1.5);
}

.header-logo,
.header-menu-toggler {
  display: table-cell;
  vertical-align: middle;
}
.hbw .header-menu-btn div{
  border-color: #fff;
}
body.menu-open .header-menu-btn {
  border-color: #000;
  position: relative;
  top: 10px;
}
body.menu-open .header-menu-btn div:first-child {
  transform: rotate(50deg);
  position: relative;
  top: -2px;
}
body.menu-open .header-menu-btn div:nth-child(2) {
  display: none;
}
body.menu-open .header-menu-btn div:nth-child(3) {
  transform: rotate(-50deg);
  position: relative;
  top: -10px;
}
.header-menu-btn {
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  border-color: black;
  position: relative;
  top: 8px;
}
.header-menu-btn div {
  display: block;
  width: 100%;
  height: 0px;
  border-bottom: 3px solid;
  border-color: inherit;
  display: block;
  margin: 5px 0px;
  position: relative;
  top: 0px;
  transition: all 0.1s;
}
.header-menu-btn:hover div:first-child {
  top: -2px;
}
.header-menu-btn:hover div:last-child {
  top: 2px;
}

.header-logo a:after {
  /* content: ""; */
  width: 1px;
  height: 1px;
  display: table;
  margin: auto;
  position: absolute;
  bottom: 77%;
  left: 50%;
  box-shadow: 0px 0px 91px 45px #fff;
  z-index: -1;
}

.header-logo a {
  display: table;
  position: absolute;
}

.earth-box {
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  position: relative;
  // background-image: linear-gradient(var(--color-secondary), var(--color-lite));
  background: radial-gradient(circle at bottom, navy 0, black 100%);

}

.space {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
}
.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars3 {
  animation: space 300s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(360deg);
  }
}


.earth-wrapper {
  display: table;
  margin: auto;
  position: relative;
  left: 0px;
  transition: all 0.3s;
  // transform: translateY(-129%);
  animation: animEarth 0.8s linear;

}


@keyframes animEarth {
  0% {
    transform: translateY(-129%);
  }
  100% {
    transform: translateY(0%);
  }
}


.dist-details {
  border-left: 3px solid;
  padding: 10px;
  display: none;
}

.earth-box.show-place-details .earth-wrapper {
  left: -200px;
}

.earth-box.show-place-details .dist-details {
  color: #fff;
  display: block;
}

.cord-service-conntent {
  width: 400px;
  position: absolute;
  right: -200px;
  top: 0px;
  padding-top: 92px;
}

#earth {
  width: 43em;
}
#earth {
  width: 43em;
}

.dist-location {
  width: 5em;
  height: 5em;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/company-location.png);
  background-size: 80%;
  cursor: pointer;
  pointer-events: all;
  transition: all 1s;
}

.earth-occluded .dist-location {
  background-image: url(../images/company-location.png);
  opacity: 0.1;
}

.subtitle-container {
  color: #fff;
  /* height: 768px; */
  height: 100vh;
  width: 100%;
  /* padding-left: 10%; */
  font-size: 1.5vw;
}

.subtitle-container .subtitle {
  color: transparent;
  font-weight: bold;
  padding: 10px;
  font-size: 5em;
  padding: 30px;
  line-height: 1.3em;
  display: table;
  margin: auto;
}
.subtitle-container .subtitle span {
  visibility: hidden;
  transition: visibility, color 1s;
}

.subtitle-container .subtitle span.txt-dark.text-amin {
  color: #47ff00;
}
.subtitle-container .subtitle span.text-amin {
  visibility: visible;
  color: #fff;
}

.service-list {
  display: block;
  /* text-align: center; */
  font-size: 0px;
}
.service-list-items {
  display: inline-block;
  width: 20%;
  min-width: 150px;
  /* max-width: 250px; */
  padding: 10px 5px;
  font-size: 1.6vw;
}
.service-list-items .wpr {
  background-color: var(--color-secondary);
  padding-top: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.service-list-items .wpr:hover {
  background-color: #fff;
  color: var(--color-primary);
}

.service-list-items .wpr::after {
  content: "";
  width: 80%;
  position: absolute;
  top: 100%;
  height: 7px;
  background-color: var(--color-theme);
  display: block;
}
.service-list-items .content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
}
.service-list-items img {
  object-fit: contain;
  width: 50%;
}

/* service form section */
.service-form-section {
  width: 100%;
  display: table;
  font-size: 0px;
  // color: #fff;
  text-align: justify;
  padding: 30px 0px;
}
.service-form-section .service-explaination,
.service-form-section .service-form {
  vertical-align: top;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}
.service-form-section .service-form {
  width: 45%;
  padding-right: 2%;
}
.service-form-section .service-explaination {
  width: 55%;
  padding-left: 20px;
}

.service-form-section .service-form-wrapper {
  background-color: transparent;
  max-width: 500px;
  box-shadow: 0px 0px 0px 3px #ffffff1f;
  margin: auto;
}

// .service-form-section .service-form-input {
//   background-color: #e1f5fe4d;
//   color: #283593a8;
//   font-size: 16px;
//   border: 1px solid #75757570;
//   padding: 10px;
//   width: 100%;
// }
// .service-form-section .service-form-input:focus {
//   box-shadow: 0px 0px 4px 1px #909090;
// }
.service-form-section .service-form-table {
  width: 100%;
}

.service-form-section .service-form-input-box {
  width: 100%;
}
.service-form-section .service-form-input-label,
.service-form-section .service-form-input-in {
  font-size: 16px;
  padding: 20px 10px;
}

.service-form-section .service-form-input-label {
  min-width: 150px;
}
.service-form-section .service-form-input-in {
  width: 100%;
}

/* solutions start */
.solution-section {
  padding: 50px 0px;
}
.solution-section-s1-items {
  display: block;
  font-size: 0px;
  /* margin: 0px -10px; */
}
.solution-section-s1-item a{
  text-decoration: none;
}
.solution-section-s1-item {
  vertical-align: top;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  margin: 10px 0px;
}
.solution-section-s1-item:hover {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0, 0.58);
  background-color: #fff;
  cursor: pointer;
}
.solution-section-s1-item-wpr {
  position: relative;
  /* padding: 10px; */
}
.solution-section-s1-item-wpr::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0px;
  height: 10px;
  background-color: var(--color-theme);
  display: block;
}

.solution-section-s1-item-name-txt {
  padding: 15px 0px;
  color: var(--color-theme);
}
.solution-section-s1-item-imgw {
  padding-top: 50%;
  position: relative;
}
.solution-section-s1-item-img {
  /* background-image: url(../images/man-with-chart-his-hand_1134-330.jpg); */
  background-color: #eee;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.solution-section-s1-item-desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 10px 0px;
}
.solution-section-s1-item-details-link {
  text-decoration: none;
  border-bottom: 1px solid var(--color-theme);
  color: var(--color-theme);
  font-weight: 600;
}

.solution-section-s2 {
  margin: 20px 0px;
}
.solution-section-s2-wpr {
  width: 100%;
  border: 5px solid var(--color-theme);
  padding: 25px 20px;
  /* background-color: #fff; */
  position: relative;
}

.solution-section-s2-title {
  position: absolute;
  top: -18px;
  text-align: center;
  width: 100%;
  left: 0;
}
.solution-section-s2-title span {
  background-color: var(--color-bg);
  display: inline-block;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 30px;
}

.solution-section-s2-item .solution-section-s2-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.solution-section-s2-items {
  display: block;
  font-size: 0px;
  /* margin: 0px -10px; */
}
.solution-section-s2-item {
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  margin: 10px 0px;
  text-align: center;
  /* white-space: nowrap; */
  vertical-align: top;
}

.solution-section-s3-items {
  display: block;
  font-size: 0px;
  /* margin: 100px -10px; */
}
.solution-section-s3-item {
  padding: 10px;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  margin: 10px 0px;
}
.solution-section-s3-item:hover {
  box-shadow: 0px 0px 3px 0px rgba(0,0,0, 0.58);
  background-color: #fff;
  cursor: pointer;
}
.solution-section-s3-item-wpr {
  position: relative;
  /* padding: 10px; */
}
.solution-section-s3-item-wpr::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0px;
  height: 10px;
  background-color: var(--color-theme);
  display: block;
}

.solution-section-s3-item-name-txt {
  padding: 15px 0px;
  color: var(--color-theme);
}
.solution-section-s3-item-imgw {
  padding-top: 50%;
  position: relative;
}
.solution-section-s3-item-img {
  /* background-image: url(../images/man-with-chart-his-hand_1134-330.jpg); */
  background-color: #eee;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.solution-section-s3-item-desc p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 10px 0px;
}
.solution-section-s3-item-details-link {
  text-decoration: none;
  border-bottom: 1px solid var(--color-theme);
  color: var(--color-theme);
  font-weight: 600;
}
/* solutions end */

/* Footer Start*/
footer {
  width: 100%;
  background-color: var(--color-footer);
  position: relative;
  margin-top: 50px;
}
.footer-wrapper {
  width: 100%;
  display: block;
  padding: 20px 0px 0px 0px;
  font-size: 0px;
}

footer .footer-col {
  width: 33.3%;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

.footer-items > li a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-items {
  padding: 25px 0px;
}

.footer-items > li {
  list-style: none;
  color: #000;
  padding: 6px 0px;
}

.footer-items > li {
  list-style: none;
  color: #000;
  padding: 6px 0px;
}

.footer-input-box {
  width: 100%;
  padding-bottom: 20px;
}
.footer-input-box .footer-input {
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
  border: 2px solid rgba(0,0,0, 0.58);
  outline: none;
  background-color: transparent;
}
.footer-top-border {
  position: absolute;
  height: 7px;
  background-color: var(--color-theme);
  top: 0px;
  left: 0px;
  width: 80%;
  display: none;
}
/* Footer End */


.top-banner{
  padding-top: 40.599999%;
  position: relative;
}
.top-banner-img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}

.top-banner-btn {
  position: absolute;
  display: block;
  width: 17.7%;
  padding-top: 3.5%;
  left: 12.5%;
  top: 74%;
}

.top-banner-btn:hover {
  background-color: #eeeeee2e;
}

.page-navigate-section{
  background-color: #fff;
}

.nvgt-home, .nvgt-current{
  display: inline-block;
  font-weight: 600;
  margin-right: 20px;
}
.nvgt-home {
  color: #000;
}
.nvgt-current{
  color: #797979;
  // font-size: 20px;
}
.read-more-link{
  color: var(--color-theme);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  display: block;
  margin-top: 10px;
}
.read-more-link::before{
  content: "";
  background-image: var(--read-more-icon);
  // background-image: url('../images/34657.png');
  display: inline-block;
  width: 15px;
  height: 15px;
}


.d-desktop{
  display: block;
}
@media (min-width: 1100px) {
  .service-list-items {
    font-size: 18px;
  }
  .subtitle-container{
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .glob-full-width-1100 {
    width: 100%;
  }
  .cord-service-conntent {
    width: 100%;
    position: relative;
    right: 0;
    top: 0px;
    padding-top: 50px;
    padding: 20px;
  }

  .earth-box.show-place-details .earth-wrapper {
    left: 0px;
  }
}
@media (max-width: 1000px) {
  .service-list-items {
    width: 25%;
    font-size: 1.6vw;
  }

  /* service form section */
  .service-form-section {
    display: block;
  }
  .service-form-section .service-explaination,
  .service-form-section .service-form {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 30px 0px;
  }

  .solution-section-s1-item {
    width: 33.33%;
  }
  .solution-section-s3-item {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  #earth {
    width: 100vw;
  }
  .dist-location {
    width: 3em;
    height: 3em;
  }

  .footer{
    text-align: center;

  }
  .footer-cols .footer-col {
    width: 100%;
    text-align: center;
  }

  .subtitle-container .subtitle {
    padding: 0px;
    font-size: 8vw;
  }

  .service-list-items {
    width: 50%;
    font-size: 3.7vw;
  }

  .service-form-section .service-form-table,
  .service-form-input-box {
    display: block;
    width: 100%;
    margin-top: 25px;
  }
  .service-form-section .service-form-table tbody {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .service-form-section .service-form-input-label,
  .service-form-section .service-form-input-in {
    display: block;
    width: 100%;
    padding: 5px 10px;
  }

  .solution-section-s1-item {
    width: 50%;
    padding: 3px;
  }
  .solution-section-s3-item {
    width: 50%;
    padding: 3px;
  }

  .solution-section-s2-item {
    width: 50%;
    white-space: normal;
    height: 150px;
  }

  .menu-nav-items-wpr{
    padding: 20px 10px;
  }
  .menu-nav-item a{
    font-size: 15px;
  }
  .menu-cards-item {
    width: 50%;
  }

  body.menu-open {
    overflow: hidden;
  }

  .menu {
    padding-top: 20px;

  }

  body.menu-open .menu {
    min-height: 102vh;
  }
  .header-menu-btn {
    width: 25px;
    height: 25px;
    top: -5px;
  }
  body.menu-open .header-menu-btn {
    top: 5px;
  }

  .header-logo img {
    height: 20px;
  }
  .header-menu-btn div {
    border-bottom: 2px solid;
    margin: 5px 0px;
  }
  .menu-cards-items{
    height: calc(100vh - 90px);
    overflow: auto;
  }

}
